<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.11/angular-filter.min.js"></script>
	<script src="javascript.js"></script>

	<body ng-app="grades">
		<div ng-controller="gradesCtrl">
			<div>
				<p>Select a department to filter courses</p>
				<select ng-model="deptFilter">
					<option value="">Any</option>
					<option ng-repeat="grade in grades | orderBy: 'subject.description' | unique: 'subject.description'">{{ grade.subject.description }}</option>
				</select>
				<button ng-click="toggleGrades()">{{ showHideButtonText() }}</button>

				<br />

				Search cources <input ng-model="inputFilter.courseTitle" type="text">
			</div>

			<div>
				<div ng-repeat="grade in grades | filter:deptFilter | filter:inputFilter">
					<p>
						Course: {{ grade.courseTitle }} <br />
						Department: {{ grade.subject.description }} <br />
						Level: {{ grade.level.code | uppercase }} <br />
						<span ng-show="showGrades">Grade: {{ grade.gradeInAcadHistory }} <br /></span>
						Term: {{ grade.term.description }}
					</p>
				</div>

				<span ng-show="deptFilter">Filtered for {{ departmentName }}</span>
				<span ng-show="deptFilter && inputFilter.courseTitle">and</span>
				<span ng-show="inputFilter.courseTitle && !deptFilter">Filtered for courses</span>
				<span ng-show="inputFilter.courseTitle">"{{ inputFilter.courseTitle }}"</span>
			</div>
		</div>
	</body>
</html>