<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.11/angular-filter.js"></script>
	<script src="javascript.js"></script>

	<body ng-app="transcript">
		<div ng-controller="coursesCtrl">
			<div>
				<p>Select a department to filter courses</p>

				Search Courses:  <input ng-model="inputFilter.courseTitle" type="text">
				
				Department: 
				<select ng-model="deptFilter">
					<option value="">Any</option>
					<option ng-repeat="course in courses | orderBy: 'subject.description' | unique: 'subject.description'">{{ course.subject.description }}</option>
				</select>
				<button ng-click="toggleGrades()">{{ showHideButtonText() }}</button>
			</div>

			<div>
				<div ng-repeat="course in courses | filter:deptFilter | filter:inputFilter as filteredCourses" ng-class-even="'even'" ng-class-odd="'odd'">
					<p>
						<course-template></course-template> <br />
					</p>
				</div>

				<div>Showing {{ filteredCourses.length }} courses.</div>

				<span ng-show="deptFilter">Filtered for {{ departmentName }}</span>
				<span ng-show="deptFilter && inputFilter.courseTitle">and</span>
				<span ng-show="inputFilter.courseTitle && !deptFilter">Filtered for courses</span>
				<span ng-show="inputFilter.courseTitle">"{{ inputFilter.courseTitle }}"</span>
			</div>

			<p>Formatting Options:</p>

			Change label color to: <input ng-model="labelColor">
		</div>
	</body>
</html>